########################################################################
# Core behaviour
########################################################################

[user]
	email = marcel@bollmann.me
	name = Marcel Bollmann
	signingkey = ADDME
[github]
	user = mbollmann
[commit]
	gpgsign = true
[push]
	default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        all = true
        prune = true
        pruneTags = true
[init]
	defaultBranch = main

########################################################################
# UI/UX things
########################################################################

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[help]
        autocorrect = prompt

########################################################################
# Diffing and merging
########################################################################

# git-delta <https://github.com/dandavison/delta>
[core]
        pager = delta
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true    # use n and N to move between diff sections
        light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
        line-numbers = true
        syntax-theme = OneHalfDark
[merge]
        conflictstyle = zdiff3
[diff]
        colorMoved = dimmed-zebra

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
